*

!.github/
!assets/
!.editorconfig
!.gitattributes
!.gitignore
!.justfile
!CMakeLists.txt
!.clang-format
!.cmake-format.py
!LICENSE
!README.md

!include/
!include/**/
!tb/
!tb/**/
!scripts/

!*.md
!*.svg
!*.png
!*.nix
!*.lock
!*.sh
!*.c
!*.h
!*.cpp
!*.hpp
!*.cc
!*.hh
!*.cxx
!*.hxx
!*.cu
!*.cuh
